* {
   margin: 0;
   padding: 0;
   outline: none;
}

ul,
ol {
   list-style: none;
}

.body {
   background: rgba(103, 43, 153, 0.486);
}

.card {
   background: red;
}

.description {}

.leftSection__image {
   border-radius: 50%;
   width: 200px;
   hight: 200px;
}

h1 {
   color: blue;
}